@import "../../styles/variables.scss";

.coin-row {
  max-width: 1140px;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    transform: scale(1.04);
    transition: transform ease-in-out 0.3s;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: aliceblue;
    box-shadow: $box-shadow;
    // border: 2px dotted green;
    border-radius: 5px;
    background-color: $primary-bg-color;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;

    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);

      .volume,
      .market-cap {
        display: none;
      }
    }

    .name {
      text-transform: uppercase;
      p {
        font-size: 0.8rem;
      }
    }

    .red {
      color: red;
    }
    .green {
      color: $primary-text-color;
    }

    .img {
      img {
        width: 25px;
        margin: 0 auto;
      }
    }
  }
}
