@import "../../styles/variables.scss";

.form {
  max-width: 500px;
  margin: 5rem auto;
  h1 {
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: clamp(1rem, 8vw, 4rem);
  }

  input {
    width: 60%;
    display: block;
    margin: 0 auto;
    height: 40px;
    border: none;
    padding-left: 10px;
  }
}

.coin-head-row {
  max-width: 1140px;
  margin: auto;

  @include breakpoint(md) {
    margin: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: aliceblue;
    box-shadow: $box-shadow;
    // border: 2px dotted green;
    border-radius: 5px;
    background-color: $primary-bg-color;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;

    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);
      .coin-volume,
      .coin-cap {
        display: none;
      }
    }
  }
}
