@import "../../styles/variables.scss";

.header {
  width: 100%;
  padding: 0.7rem 12rem;
  transition: all ease-in-out 0.3s;

  @include breakpoint(md) {
    padding: 0.7rem 3rem;
  }

  &__content {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      h2 {
        color: $primary-logo-color;
        font-weight: $logo-weight;
        font-size: clamp(1.5rem, 8vw, 2rem);
      }
    }

    &__nav {
      @include breakpoint(md) {
        display: relative;
      }
      .mobileMenu {
        right: 100%;
      }
      ul {
        display: flex;
        list-style: none;

        @include breakpoint(md) {
          position: fixed;
          flex-direction: column;
          align-items: center;
          width: 100%;
          top: 50px;
          right: 0%;
          z-index: 33;
          backdrop-filter: blur(7px);
          transition: all ease-in-out 0.3s;
        }
        li {
          margin: 0 2rem;

          @include breakpoint(md) {
            margin: 2.5rem 0;
          }
          .link,
          a {
            color: white;
            transition: color ease-in-out 0.3s;

            &:hover {
              color: $primary-text-color;
            }

            @include breakpoint(md) {
              font-size: 60px;
            }
          }
        }
      }
    }

    &__toggle {
      font-size: 2rem;
      // cursor: pointer;
      display: none;

      @include breakpoint(md) {
        display: block;
        cursor: pointer;
      }
    }
  }
}
